@model  JabberJaw.Models.AboutModels
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>



<!--

<h3>@ViewBag.Message</h3>
Below is the format for grabbing specific things from the controller
The .name part is based on what you call it in  the controller    
<p>@ViewBag.Name</p>
<p>Age: @Model.Age</p>
<p>Height: @Model.Height</p>
    An example of using the model to grab data from the controllers
    the model. format is simply syntax all data pulls are called like this 
-->
<h1>GuideLines For JabberJaw</h1>
<ol>
    <li>
       <h2>Be nice!</h2>
        <p>JabberJaw was born not even 2 months ago, think of him like a tinnie tiny baby. He's just learning how to talk like big boys so
        in the same way you wouldn't shout profanity at an infant please refrain from doing so with JabberJaw. 
        </p>
    </li>
</ol>

