@model IEnumerable<JabberJaw.Models.FeedBackResponse>

@{
    ViewBag.Title = "FeedBack";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.partofSpeech)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.actualWord)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.partofSpeech)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.actualWord)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.partofSpeech }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
